/* icons */
article:not([class]) {
    font-size: 6px;
    width: 80px !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 10px 0;
    text-align: "center";
}
article:not([class]) > a {
    width: 80px !important;
    height: 30px !important;
    margin: 0 0 0 0 !important;
}
article:not([class]) > h3  {
    margin-bottom: 0 !important;
}
article:not([class]) > h3 > a {
    font-size: 10px;
}
div.custom-tiled-node-navigation {
    padding: 0 0;
}
div.custom-tiled-node-navigation > section > div {
    padding: 0 0;
    margin: 0 0;
}
div.lia-quilt-column-main-content {
    padding-top: 0 !important;
}
/* hide rubbish related to icons */
article:not([class]) > p {
     display: none  !important;
}
/* selector / button row */
#community-activity-sorted-by {
    height : initial  !important;
}
div.custom-start-conversation-button > a {
    padding : 6px 12px !important;
}

/* lightly pad articles */
article.custom-message-tile { padding: 10px 4px; border-bottom: 0; }
article.custom-message-tile > div > h3 {
   background-color: #3d65c9;
   padding: 20px;
   border-radius: 0px 10px 10px 0px;
}
article.custom-message-tile > div > h3 > a {
   font-size: 18px;
   color: #fff;
   padding: 20px 10px;
}

article.custom-message-tile > aside {
    display: block;
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 0;
    margin: 0;
    font-size: xx-small;
}
.custom-message-tile footer {
    order: 3 !important;
    padding-bottom: 2px !important;
}
footer > ul.custom-tile-statistics {
    text-align: right;
    height: 10px;
    position: relative;
    bottom: 18px;
    right: 6px;
    border: 0;
    padding: 0;
    margin: 0;
}
article.custom-message-tile > div > p {
    padding: 0; margin: 0; border: 0;
    padding-bottom: 2px;
    padding-left: 2px;
}
figure {
    padding: 0; margin: 0 !important; border: 0;
    padding-bottom: 2px;
}
figure > img {
    filter: drop-shadow(0 0 0.75rem grey);
    padding: 4px 0;
}

/* green banner for solved threads */
h3:has(> i.custom-thread-solved) {
    background-color: green !important;
}
/* icons bar */
.lia-quilt-row-main-top {
    height: 100px;
 }

/* no padding */
.custom-tiled-node-navigation { padding: 0 0 0 0; }
.lia-quilt-column-main-content { padding: 0 0 0 0; }
.lia-quilt-column-18 { padding: 0 0 0 0; }
.header-top-search-wrapper { padding: 0 0 0 0; }
#lia-searchformV32 { padding: 0 0 0 0; }
.lia-quilt-row-header-hero { padding: 0 0 0 0; display: none;}
article.custom-message-tile { padding: 0 0 0 0; }
article.custom-message-tile > div > h3 { padding: 0 0 0 0; }
/* hidden */
div.lia-panel:nth-child(2) > div:nth-child(1) { display: none; }
#custom-loader > section:nth-child(1) > header:nth-child(1) > h2:nth-child(1) { display: none; }
div.header-hero-wrapper { display: none; }
.custom-getting-started { display: none; }
.CustomContent { display: none; }
div.custom-message-list > section > header > h2 {
    display: none;
}
div.lia-quilt-row-message-header-top { display: none !important;}
div.lia-quilt-row-message-header-main { display: none !important;}
div.lia-quilt-row-message-header-bottom { padding: 0 0 8px 0 !important;}
/* scale down message title */
div.lia-message-subject {
    font-size: 20px !important;
    display: none !important;}

/* dynamically assigned */
.pros-hidden {
     display: none;
}
.pros-visible {
     display: flex;
}
.pros-zeroreply {
    border-radius: 0px 22px 10px 0;
    background-color: #FFF5C9;
}
.pros-hot {
    border-radius: 0px 22px 10px 0;
    background-color: #D9F5FF !important;
    opacity: 1 !important;
}
.pros-solved {
    border-radius: 0px 22px 10px 0;
    background-color: #E3FFE5;
    opacity: 0.30;
}
.pros-alwaysOn {
    display: inline-block !important;
}

#pros-optionstatus {
    padding: 10px;
    font-weight: bold;
}

.pros-autologin {
    font-size: 2em;
}

input.BatchProcessing {
    order: 4 !important;
    top: -15px !important;
    padding: 0; margin: 0 !important; border: 0;
}